# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.env
.venv/
venv/
ENV/
.venv*/

# Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# IDEs / Editors
.vscode/
.idea/
*.code-workspace

# Cache / Logs
.cache/
pytest.ini
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
logs/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Project outputs
interactive_video_booth/outputs/*
!interactive_video_booth/outputs/.gitkeep
